@import "element-variables";


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

pre {
  padding: 1rem .8rem;
  background-color: #f4f4f4;
}